node_modules/
dist/
dist-ssr/
*.local
.env
.env.local
.env.development
.env.production
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.idea/
*.iml
*.log
logs/
__pycache__/
*.pyc
db.sqlite3
*.env
venv/